
<div class="carousel">
  <div>
    <img src="./assets/images/Баннер-2 1.png" class="d-block w-100 slider-item" alt="Tea">
  </div>
</div>
<div class="container container-sm ">
  <div>
    <h1 class="text-center mt-5 mb-5 ">Ответы на часто задаваемые вопросы</h1>
  </div>

  <ngbd-accordion-basic></ngbd-accordion-basic>

</div>
<div class="popup-container">
<div class="popup modal-dialog modal-sm  flex-column justify-content-center align-items-center p-2" #popup>
  <button type="button" class="btn-close align-self-end" data-bs-dismiss="modal" aria-label="Close"(click)=" close()"></button>
  <p>Посмотрите наши чайные коллекции</p>
  <a class="btn btn-primary" routerLink="catalog"  >Смотреть</a>
</div>
</div>
