.carousel {
  margin:72px 304px 72px 298px;
}
.popup{
  display: none;
  position: fixed;
  background-color: rgba(196, 243, 243, 0.9);
  top: 150px;
  left: 600px;
  z-index: 999;
  border-radius: 15px;
}
.popup-container{
  background-color: rgba(0, 0, 0, 0.42);
  width: 100%;
  height: 100%;
}

.modal-dialog {
  pointer-events: auto;
}
