
//@import "./node_modules/bootstrap/scss/variables";
.accordion-item {
  border: none;
}
.accordion-button::after {
  background-image: url("../../../assets/images/Vector.png");
}
.accordion-button:not(.collapsed)::after {
  background-image: url("../../../assets/images/Vector.png");
}
.btn.btn-primary {
  text-decoration: none;
}
.accordion-button  {
  background-color: #3030de;

  &:not(.collapsed){
    background-color:#3030de;
  }
}

