<ngb-accordion #acc="ngbAccordion" activeIds="ngb-panel-0 " class="accordion">
  <ngb-panel title=" Собираете ли вы подарочные боксы? " >
    <ng-template ngbPanelContent>
      Да, у нас есть такая услуга. Мы можем собрать подарочный бокс на любой вкус, объем и стоимость!
    </ng-template>
  </ngb-panel>
  <ngb-panel  [class]="'accordion-button' + 'button:focus:not(:focus-visible)'">
    <ng-template ngbPanelTitle>
      <span>  Сколько у вас разновидностей чая?</span>
    </ng-template>
    <ng-template ngbPanelContent>
      Около тысячи. У нас представлены черные и зеленые чаи, также есть белые.
    </ng-template>
  </ngb-panel>
  <ngb-panel>
    <ng-template ngbPanelTitle>
      <span>      В какой срок осуществляется доставка?</span>
    </ng-template>
    <ng-template ngbPanelContent>
      От одного до трех дней.
    </ng-template>
  </ngb-panel>
  <ngb-panel>
    <ng-template ngbPanelTitle>
      <span>     У вас обновляется ассортимент?</span>
    </ng-template>
    <ng-template ngbPanelContent>
      Да. Ассортимент у нас обновляется каждые три месяца
    </ng-template>
  </ngb-panel>
  <ngb-panel>
    <ng-template ngbPanelTitle>
      <span>       Какого объема у вас пачки чая?</span>
    </ng-template>
    <ng-template ngbPanelContent>
      У нас представлен чай в трех объемах: 50гр, 100гр, 500гр.
    </ng-template>
  </ngb-panel>
</ngb-accordion>






