
<div ngbAccordion class="accordion" >
  <div class="accordion-item mb-4" ngbAccordionItem [ngbCollapse]="false">
    <h3 class="accordion-header" id="headingOne" ngbAccordionHeader>
      <button class="accordion-button collapsed rounded-3 bg-primary text-light fw-bold border border-0 p-4"
              type="button"
              data-bs-toggle="collapse"
              data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne" ngbAccordionButton >
        Собираете ли вы подарочные боксы?
      </button>
    </h3>
    <div id="collapseOne" class="accordion-collapse collapse" aria-labelledby="headingOne"
         data-bs-parent="#accordion" ngbAccordionCollapse >
      <div class="accordion-body border border-0" ngbAccordionBody>
        <ng-template>
          Да, у нас есть такая услуга. Мы можем собрать подарочный бокс на любой вкус, объем и стоимость!
        </ng-template>
      </div>
    </div>
  </div>
  <div class="accordion-item mb-4" ngbAccordionItem>
    <h3 class="accordion-header" id="headingTwo" ngbAccordionHeader>
      <button class="accordion-button collapsed rounded-3 bg-primary text-light fw-bold border border-0 p-4"
              type="button" data-bs-toggle="collapse"
              data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo" ngbAccordionButton>
        Сколько у вас разновидностей чая?
      </button>
    </h3>
    <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo"
         data-bs-parent="#accordion" ngbAccordionCollapse>
      <div class="accordion-body" ngbAccordionBody>
        <ng-template>
          Около тысячи. У нас представлены черные и зеленые чаи, также есть белые.
        </ng-template>
      </div>
    </div>
  </div>
  <div class="accordion-item mb-4" ngbAccordionItem>
    <h2 class="accordion-header" id="headingThree" ngbAccordionHeader>
      <button class="accordion-button collapsed rounded-3 bg-primary text-light fw-bold border border-0 p-4"
              type="button" data-bs-toggle="collapse"
              data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree" ngbAccordionButton>
        В какой срок осуществляется доставка?
      </button>
    </h2>
    <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree"
         data-bs-parent="#accordion" ngbAccordionCollapse>
      <div class="accordion-body" ngbAccordionBody>
        <ng-template>
          От одного до трех дней.
        </ng-template>
      </div>
    </div>
  </div>
  <div class="accordion-item mb-4" ngbAccordionItem>
    <h2 class="accordion-header" id="headingFour" ngbAccordionHeader>
      <button class="accordion-button collapsed rounded-3 bg-primary text-light fw-bold border border-0 p-4"
              type="button" data-bs-toggle="collapse"
              data-bs-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour" ngbAccordionButton>
        У вас обновляется ассортимент?
      </button>
    </h2>
    <div id="collapseFour" class="accordion-collapse collapse" aria-labelledby="headingFour"
         data-bs-parent="#accordion" ngbAccordionCollapse>
      <div class="accordion-body" ngbAccordionBody>
        <ng-template>
          Да. Ассортимент у нас обновляется каждые три месяца
        </ng-template>
      </div>
    </div>
  </div>
  <div class="accordion-item mb-4" ngbAccordionItem>
    <h2 class="accordion-header" id="headingFive" ngbAccordionHeader>
      <button class="accordion-button collapsed rounded-3 bg-primary text-light fw-bold border border-0 p-4"
              type="button" data-bs-toggle="collapse"
              data-bs-target="#collapseFive" aria-expanded="false" aria-controls="collapseFive" ngbAccordionButton>
        Какого объема у вас пачки чая?
      </button>
    </h2>
    <div id="collapseFive" class="accordion-collapse collapse" aria-labelledby="headingFive"
         data-bs-parent="#accordion" ngbAccordionCollapse>
      <div class="accordion-body" ngbAccordionBody>
        <ng-template>
          У нас представлен чай в трех объемах: 50гр, 100гр, 500гр.
        </ng-template>
      </div>
    </div>
  </div>
</div>

