//@import "./node_modules/bootstrap/scss/variables";

* {
  margin: 0;
  padding: 0;
}
.container {
  width: 920px;
}
body {
  font-family: Arial, sans-serif;
}

.ui-state-default {
  background-color: #0d6efd;
}
.ui-corner-all {
  border-radius: 10px;
}
.ui-state-default {
  color: white;
}


/*.hvr-radial-in:before {
  background-color: #076BFF;
}
.hvr-radial-in {
  background-color: #09cea0;
}*/
.btn-primary:hover {
  background-color: #09cea0;
}
.btn {
  border: none;
}
.card {
  display: inline-block;
}
 .accordion .accordion-item {
  border: none;

}
.accordion .accordion-button::after {
  background-image: url("/assets/images/Vector.png");
}
.accordion .accordion-button:not(.collapsed)::after {
  background-image: url("/assets/images/Vector.png");
}
.accordion .btn.btn-primary {
  text-decoration: none;
}
.accordion .accordion-button  {
  border: none;
  color: white;
  background-color: #0D6EFDFF;
  margin-bottom: 15px;
  outline: none;
  font-weight: bold;
  height: 67px;
  --bs-accordion-bg: none;
  border-radius: 5px;

  &:not(.collapsed){
    border: none;
    background-color: #0D6EFDFF;
    color:white;

  }

  &:active{
    border: none;
    outline: none;
  }
}
.accordion .button:focus:not(:focus-visible){
  outline: none !important;
  border: none !important;

}
.accordion .button:focus:not(:focus-visible){
  outline: none;
  border: none;
}
.accordion .accordion-button:focus{
  --bs-accordion-btn-focus-box-shadow: none;
}
.ngb-panel-0{
  color:white;
  border: none;
}
.ngb-accordion .accordion {
  --bs-accordion-bg: none;

}

@media screen and (max-width:1024px) {
  .carousel {
    width: 75%;
    margin: 0 auto;
    margin-top: 50px;
  }
}
@media screen and (max-width:590px) {
  .container {
    width: 100%;
  }

  .row {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .accordion {
    width: 500px;
    margin: 0 auto;
  }

  .form {
    width: 500px;
    flex-direction: column;
  }

  .col-md-3, .col-3, .col-6, .col-12 {
    width: 306px;
  }

  #btn {
    display: block;
    margin: 0 auto;
  }

  .footer-navbar {
    justify-content: center;
  }

  .carousel {
    width: 100%;
    margin: 0 auto;
    margin-top: 25px;
  }
}
@media screen and (max-width:375px) {
  .accordion {
    width: 200px;
    margin: 0 auto;
  }
}

/* Importing Bootstrap SCSS file. */
@import '~bootstrap/scss/bootstrap';
